<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <title>智能客服系统</title>
    <link rel="stylesheet" href="/static/cdn/element-ui/2.15.1/theme-chalk/index.min.css">
    <script src="/static/cdn/vue/2.6.11/vue.min.js"></script>
    <script src="/static/cdn/element-ui/2.15.1/index.js"></script>
    <script src="/static/cdn/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/assets/js/functions.js"></script>
    <style>
        html,
        body {
            height: 100%;
            padding: 0;
            margin: 0;
        }
        body {
            overflow: hidden;
            background-color: #f5f5f5;
        }

        .el-aside{
            height: 100%;
            background: #fff;
            border: solid 1px #e6e6e6;
        }
        .el-aside .el-menu{
            border-right: none;
        }
        .mainLogo{
            font-size: 20px;
            font-weight: bold;
        }
        .mainMain{
            background: #fff;
            margin-left: 10px;
            margin-bottom: 60px;
        }
        .el-card__body{
            cursor: pointer;
        }

    </style>

</head>
<body class="text-center">
<div id="app">
    <template>
        {{template "nav" }}
        <div class="mainRight">

            <iframe class="mainIframe"  v-bind:src="iframeUrl" frameborder="0"></iframe>
        </div>
    </template>
</div>
</body>
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const token = urlParams.get('token');
    // console.log("token"+token)
    localStorage.setItem("token",token);
    // console.log("localStorage token"+localStorage.getItem("token"))



    new Vue({
        el: '#app',
        delimiters:["<{","}>"],
        data: {
            window:window,
            mailTotal:0,
            adminAvator:"",
            adminRole:"",
            onlineType:"success",
            haveNewMessage:"",
            iframeUrl:"/chat_main",
        },
        methods: {
            focusWindow(){
                var _this=this;
                window.addEventListener('message',function(e){
                    var redata=e.data;
                    if(!redata.name||!redata.body){
                        return;
                    }
                    notify(redata.name, {
                        body: redata.body,
                        icon: redata.icon
                    }, function(notification) {
                        //可直接打开通知notification相关联的tab窗口
                        window.focus();
                        notification.close();
                        _this.openIframeUrl("/chat_main");
                    });
                });
            },
            openIframeUrl(url){
                this.iframeUrl=url;
            },
            //退出
            logout(){
                localStorage.removeItem("token");
                localStorage.removeItem("name");
                localStorage.removeItem("kefu_id");
                localStorage.removeItem("ref_token");
                localStorage.removeItem("create_time");
                this.openIframeUrl('/login');
            },
            //跳转
            openUrl(url){
                window.location.href=url;
            },
            GetQueryString(name){
                var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if(r!=null)return  unescape(r[2]); return null;
            },
            checkAuth(){
                let _this=this;
                $.ajax({
                    type:"post",
                    url:"/check_auth",
                    headers:{
                        "token":localStorage.getItem("token")
                    },
                    success: function(data) {
                        if (data.code != 200) {
                            window.location.href="/login";
                        } else {
                            _this.adminAvator=data.result.avator;
                            _this.adminRole=data.result.role_name;
                            _this.iframeUrl = "/chat_main";
                        }
                    }
                    });
            }
        },
        created: function () {
            this.checkAuth();
            this.focusWindow();
            $(function(){
                $("body").on("click",".menuLeftItem",function(){
                    $(".menuLeftItem").removeClass("active");
                    $(this).addClass("active");
                });
            })
        },

    })
    $(window).bind("focus",function(e){
        //alert(1);
    });

</script>

</html>
