{{define "setting_left"}}
<el-aside width="200px">
<el-menu
        default-active="{{.tab_index}}" :default-openeds="openIndex"
        :unique-opened=true>
    <!--<el-submenu index="1">
        <template slot="title">
            <i class="el-icon-s-custom"></i>
            <span>账户设置</span>
        </template>
        <el-menu-item-group>
            <el-menu-item index="1-1" v-on:click="openUrl('/setting_statistics')">统计信息</el-menu-item>
            <el-menu-item index="1-3" v-on:click="openUrl('/setting_modifypass')">修改密码</el-menu-item>
            <el-menu-item index="1-4" v-on:click="openUrl('/setting_avator')">修改资料</el-menu-item>
        </el-menu-item-group>
    </el-submenu>-->
    <el-submenu index="2">
        <template slot="title">
            <i class="el-icon-s-tools"></i>
            <span>客服设置</span>
        </template>
        <el-menu-item-group>
<!--            <el-menu-item index="4-8"  v-on:click="openUrl('/setting_welcome')">欢迎语</el-menu-item>-->
            <el-menu-item index="4-6"  v-on:click="openUrl('/setting_config')">配置参数</el-menu-item>
<!--            <el-menu-item index="4-7"  v-on:click="openUrl('/setting_kefu_list')">客服管理</el-menu-item>-->
<!--            <el-menu-item index="4-7"  v-on:click="openUrl('/setting_role_list')">角色管理</el-menu-item>-->
            <el-menu-item index="4-5"  v-on:click="openUrl('/setting_ipblack')">IP黑名单</el-menu-item>
<!--            <el-menu-item index="2-5"  v-on:click="openUrl('/setting_deploy')">网页部署</el-menu-item>-->
        </el-menu-item-group>
    </el-submenu>
</el-menu>
</el-aside>
{{end}}